

:root {
  --bs-primary: #EAB308; /* gold yellow */
  --bs-dark: #000000;
  --bs-gray: #6B7280;
}
.cardbg{
  background-color: lightcyan;
}
body {
  background: white;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-gold {
  background-color: #EAB308;
  border-color: #EAB308;
  color: #000;
}

.btn-gold:hover {
  background-color: #d1a306;
  border-color: #d1a306;
}

/* styles/Dashboard.module.css */
.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.offcanvas-sm {
  width: 60% !important; /* Mobile width */

  a,.nav-link, .btn {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .offcanvas-sm {
    width: 400px !important; /* Desktop optional width */
  }
}

.menuheader {
  /* background-color: rgb(190, 141, 190); */

  color: #000;
  font-family: cursive;
  padding: 5px
}